<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cnt.ball">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name="edu.hzuapps.android.labs.Com1614080901141.Com1614080901141Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.hzuapps.android.labs.Com1614080901141.SecondActivity" />
        <activity android:name="edu.hzuapps.android.labs.Com1614080901141.ThirdActivity" />
        <activity android:name="edu.hzuapps.android.labs.Com1614080901141.FourActivity">

        </activity>
    </application>

</manifest>