<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidlabs.hzuapps.edu.soft1614080902341">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="剪刀石头布"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".soft1614080902341MainActivity"
            android:label="剪刀石头布">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jiandaoMainActivity" />
        <activity android:name=".shitouMainActivity" />
        <activity android:name=".buMainActivity" />
        <activity android:name=".ImageActivity"></activity>
    </application>

</manifest>
