<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wjk.eduhzuappsandroidlabssoft1614080902135">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Soft1614080902135画板"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Soft1614080902135Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Soft1614080902135Activity2"
            android:label="@string/title_activity_soft16140809021352"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>