<?xml version="1.0" encoding="utf-8"?>
		  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="soft1614080902336.androidlabs.hzuapps.edu.wuziqi">

		      <application
		          android:allowBackup="true"
		         android:icon="@mipmap/ic_launcher"
		         android:label="@string/app_name"
		          android:roundIcon="@mipmap/ic_launcher_round"
		          android:supportsRtl="true"
	          android:theme="@style/AppTheme">
        <activity android:name=".wuziqi">
		              <intent-filter>
		                  <action android:name="android.intent.action.MAIN" />

	                 <category android:name="android.intent.category.LAUNCHER" />
		             </intent-filter>
		         </activity>
	         <activity
		              android:name=".wuziqirj"
	              android:label="@string/title_activity_wuziqirj"
	              android:theme="@style/AppTheme.NoActionBar" />
       <activity
           android:name=".wuziqisr"
            android:label="@string/title_activity_wuziqisr"
           android:theme="@style/AppTheme.NoActionBar"></activity>
	      </application>

 		  </manifest>